<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: black;
            display: flex;
        }
        div{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        h1{
            color: green;
           
        }
        button{
            background-color: green;
            margin-left: 300px;
            border: none;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <div>
    <h1 align="cenetr">data save Successfully..........!</h1><br><br>
    <a href="{% url 'Homepage' %}"><button>Back To Home</button></a>
</div>
</body>
</html>